/* reset */
html,body{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: #333333;
}
dl {
    margin: 0;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
    width: 100%;
}

a {
    text-decoration: none;
}

input, button ,select{
    outline: none;
    background: transparent;
}
textarea:focus,div:focus,select:focus{
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
option{
    padding: 0;
}
/* common */
.dn {
    display: none;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.tr {
    text-align: right;
}

.w150 {
    width: 0.75rem;
}

.w200 {
    width: 1rem;
}

.w220 {
    width: 1.1rem;
}

.w250 {
    width: 1.25rem;
}

.w300 {
    width: 1.5rem;
}
.w380 {
    width: 1.9rem;
}
.w620 {
    width: 3.1rem;
}

.h40 {
    height: 0.2rem;
}

.h60 {
    height: 0.3rem;
    line-height: 0.3rem;
}

.h68 {
    height: 0.34rem;
}

.h76 {
    height: 0.38rem;
}

.h80 {
    height: 0.4rem;
}
.h288{
    height: 1.44rem;
}
.h332{
    height: 1.66rem;
}
.h344{
    height: 1.72rem;
}
.h424{
    height:2.12rem;
}
.h427{
    height: 2.135rem;
}
.h460{
    height: 2.3rem;
}
.mt20 {
    margin-top: 0.1rem;
}
.mt30{
    margin-top: 0.15rem;
}
.mt50{
    margin-top: 0.25rem;
}
.mt40 {
    margin-top: 0.2rem;
}

.mt80 {
    margin-top: 0.4rem;
}
.mb0 {
    margin-bottom: 0;
}
.mb20 {
    margin-bottom: 0.1rem;
}

.mb28 {
    margin-bottom: 0.14rem;
}

.mb30 {
    margin-bottom: 0.15rem;
}
.mb40{
    margin-bottom: 0.2rem;
}
.mb60{
    margin-bottom: 0.3rem;
}
.mr6 {
    margin-right: 0.03rem;
}
.mr20 {
    margin-right: 0.1rem;
}
.mr20i {
    margin-right: 0.1rem !important;
}
.mr30{
    margin-right: 0.15rem;
}
.mr40 {
    margin-right: 0.2rem;
}

.mr60 {
    margin-right: 0.3rem;
}

.f60 {
    font-size: 0.3rem;
}

.f36 {
    font-size: 0.18rem;
}

.f34 {
    font-size: 0.17rem;
}
.f32{
    font-size: 0.16rem;
}
.f30 {
    font-size: 0.15rem;
}

.f28 {
    font-size: 0.14rem;
}

.f26 {
    font-size: 0.13rem;
}

.f24 {
    font-size: 0.12rem;
}

.f20 {
    font-size: 0.1rem;
}
.f-n {
    font-weight: normal;
}

.f-light{
    font-weight: 400;
}
.c-333 {
    color: #333;
}

.c-666 {
    color: #666;
}

.c-999 {
    color: #999;
}

.c-fff {
    color: #fff;
}

.c-c2c2c2 {
    color: #c2c2c2;
}

.c-d93740 {
    color: #d93740;
}

.c-27c1c3 {
    color: #27c1c3;
}

.c-303030 {
    color: #303030;
}

.bgc-d93740 {
    background-color: #d93740;
}

.bgc-27c1c3 {
    background-color: #27c1c3;
}

.bgc-303030 {
    background-color: #303030;
}

.bgc-fff {
    background-color: #fff;
}
.center {
    margin-left:auto;
    margin-right:auto;
}
.border-none {
    border:none;
}
.border-nonei {
    border:none !important;
}
.po-r {
    position:relative;
}

.wrap {
    width: 3.75rem;
    max-width: 3.75rem;
    min-height: 6rem;
    padding-bottom: 0.5rem;
    position: relative;
    font-size: 0;
}
.common-btn-simple,
.common-btn-bgc-white,
.common-btn-bgc-d93740,
.common-btn-bgc-27c1c3,
.common-btn-disabled{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0.14rem;
    border: none;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    background-color: #d93740;
}
.common-btn-bgc-d93740.upload{
    font-size: 0.12rem;
}
.common-btn-simple {
    background:#fff;
    color: #333333;
    border: 1px solid #999999;
}
.common-btn-bgc-d93740:active,
.common-btn-bgc-d93740:focus {
    background-color: #cc212b;
}

.common-btn-bgc-27c1c3 {
    background-color: #27c1c3;
}

.common-btn-bgc-27c1c3:active, .common-btn-bgc-27c1c3:focus {
    background-color: #0ba9ab;
}
.common-btn-bgc-white {
    border: 1px solid #D93740;
    background:#fff;
    color:#D93740;
}
.common-btn-disabled {
    background-color: #C2C2C2;
    cursor:not-allowed;
}
/*myhomepage-list*/
.common-homepage-list{
    padding: 0.15rem 0;
    margin: 0 0.13rem;
    border-bottom: 2px solid #f2f2f2;
}
.common-homepage-list.border{
    border-bottom: 0;
}
.common-homepage-list-detail{
    height: 0.245rem;
    padding: 0 0.21rem;
    position: relative;
}
.common-homepage-list-detail .lefticon{
    width: 0.15rem;
    height: 0.15rem;
    margin: 0.05rem 0.19rem 0 0;
}
.common-homepage-list-detail em{
    font-style: normal;
    position: absolute;
    left:0.58rem;
    top:0.01rem;
}
.common-homepage-list-detail .righticon{
    width: 0.08rem;
    height: 0.15rem;
    display: block;
    position: absolute;
    right: 0.21rem;
    top:0.05rem;
}
.common-homepage-list-detail .righticon img{
    width: 100%;
    height: 100%;
}
.common-line{
    width: 100%;
    height: 0.15rem;
    background: #F9F9F9;
   /* font-size: 0;*/
}
/* login */
.login {
    background-size: cover;
}

.logo-login {
    width: .88rem;
    height: .8rem;
    margin: 0 auto 1.1rem;
}

.login-info {
    width: 2.3rem;
    margin: 0 auto;
    font-size: 0;
}

.login-info input {
    height: 0.45rem;
    line-height: 0.45rem;
    width: 1.9rem;
    padding: 0 0.2rem;
    font-size: 0.16rem;
    color: #999;
    border: 0;
    background-color: #fff;
    outline: none;
}

.login-info .login-btn {
    font-size: 0;
}

.login-info .login-btn button {
    width: 3.51rem;
    height: 0.48rem;
    line-height: 1;
    font-size: 0.16rem;
    color: #fff;
    background-color: #6bb300;
    border: 0;
}

.login-info .login-btn a {
    display: inline-block;
    width: 2.3rem;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    font-size: 0.16rem;
    color: #fff;
    background-color: #6bb300;
    border: 0;
}

/* -------------- tab --------------- */
.common-tab {
    height: 0.38rem;
    line-height: 0.38rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
    cursor: pointer;
    margin-top:0;
}

.common-tab li {
    font-size: 0.15rem;
    color: #333333;
}

.common-tab li.active {
    color: #DB353B;
    border-bottom: 2px solid #D93740;
}

/* 4个tab */
.common-tab-4 {
    padding: 0 0.275rem 0 0.25rem;
}

.common-tab-4 li {
    width: 0.7rem;
}

/* 3个tab */
.common-tab-3 {
    padding: 0 0.13rem;
    margin-bottom: 0;
}

.common-tab-3 li {
    width: 0.96rem;
}

/* 2个tab */
.common-tab-2 {
    padding: 0 0.4rem;
}

.common-tab-2 li {
    width: 1.2rem;
}

/* -------------  input  ----------        */
.triangle-down {
    position:absolute;
    right:0.14rem;
    top:0.15rem;
    width: 0;
    height: 0;
    border-left: 0.075rem solid transparent;
    border-right: 0.075rem solid transparent;
    border-top: 0.09rem solid #303030;
}
.common-input  {
    font-size:0.14rem;
    padding:0;
    border: 1px solid #F2F2F2;
    color:#333333;
    flex:1;
    box-sizing: border-box;
    text-indent: 0.14rem;
    border-radius: 2px 0 0 2px;
}

.common-input-bottom {
    font-size:0.14rem;
    padding:0;
    border:0;
    border-bottom: 1px solid #F2F2F2;
    color:#333333;
    box-sizing: border-box;
}
.common-input-error {
    border: 1px solid #D93740 !important;
}

.common-input-bottom-error {
    border-bottom: 1px solid #D93740 !important;
}
.common-error-text {
    font-size: 0.14rem;
    color: #D93740;
    margin-top: 0.1rem;
    display:none;
}
.common-input-item {
    margin-bottom:0.2rem;
    width: 3.1rem;
}
.common-input-item .error-text{
    position: absolute;
    font-size: 0.14rem;
    color: #D93740;
    bottom:-0.2rem;
    left: 29%;
}
.common-input-item.common-input-item-label {
    margin-bottom:0.14rem;
}
.common-input-item-label,
.common-input-item-label-2
{
    display:flex;
    font-size:0.14rem;
    border-bottom:1px solid #F2F2F2;
    box-sizing: border-box;
}
.common-input-item-label-2 {
    border:none;
    margin-bottom: 0.2rem;
    position: relative;
}
.common-input-item-label  .label-s {
    margin-right:0.1rem;
    line-height:0.34rem;
}

.common-input-item-label-2 .label-b {
    line-height:0.4rem;
    height:0.4rem;
    width:0.84rem;
}
.common-input-item-label  .common-input-bottom {
    border-bottom:1px solid #fff;
    flex:1;
}

.vcode {
    width: 1.17rem;
}

.common-input-wrap,
.common-input-wrap-bottom
{
    flex:1;
    display:flex;
    position:relative;
    box-sizing: border-box;
}
.common-input-wrap {
    border: 1px solid #F2F2F2;
    border-radius: 2px 0 0 2px;
}
.common-input-wrap-bottom {
    border-bottom: 1px solid #F2F2F2;
}
.common-input-wrap .common-input {
    border:none;
}
.common-input-wrap-bottom .common-input-bottom  {
    border-bottom:none;
}
.common-input-wrap .common-input-price-label {
    padding-right:0.1rem;
    padding-left:0.05rem;
    color: #999999;
    font-size:0.13rem;
    line-height:0.38rem;
}
.common-order-header,
.common-order-header2{
    height:0.78rem;
    display:flex;
    align-items: center;
    background: #D93740;
}
.common-order-header2 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:#fff;
}
.common-order-header-img {
    width:0.22rem;
    margin-left:0.325rem;
    margin-right:0.1rem;
}
.common-order-header .status ,
.common-order-header2 .status
{
    font-size: 0.18rem;
    color: #FFFFFF;
}
.common-order-header2 img {
    margin-right:0.05rem;
}
.common-order-header2 .line1 {
    font-size: 0.18rem;
}
.common-order-header2 .line2 {
    font-size: 0.12rem;
    margin-left:0.65rem;
}
.order-status-time {
    color: #f9ff3a;
}
.common-order-detail {
    color:#333;
    font-size:0.12rem;
    padding-left:0.325rem;
    border-bottom:  1px solid #F2F2F2;
    padding-bottom:0.05rem;
}
.common-order-detail.bg{
    background: #F9F9F9;
    position: relative;
    margin: 0;
    border-bottom: 0;
    padding: 0.1rem 0.325rem 0.1rem 0.32rem;
}
.common-order-detail.bg a{
    width: 0.08rem;
    height: 0.17rem;
    display: block;
    position: absolute;
    right:0.325rem;
    top:50%;
    margin-top: -0.085rem;
}
.common-order-detail button{
    position: absolute;
    right:0.325rem;
    top:50%;
    margin-top: -0.15rem;
}
.common-order-detail.bg a img{
    width: 100%;
    height: 100%;
}
.common-order-detail .money {
    color:#D93740;
    font-size:0.18rem;
}
.common-order-detail li {
    margin-bottom:0.1rem;
    width: 100%;
}
.common-order-detail li.order {
    margin-bottom:0.05rem;
}
.common-order-create-info{
    padding: 0.05rem 0.325rem;
    position: relative;
    border-bottom:  1px solid #F2F2F2;
}
.common-order-create-info em{
    position: absolute;
    right:0.325rem;
    font-style: normal;
}
.common-order-detail .title {
    width:0.82rem;
    display:inline-block;
}

.common-form, .common-div {
    width:3.1rem;
    margin: 0.4rem auto 0;
    font-size: 0;
}

.common-form {
    margin-left:auto;
    margin-right:auto;
    width:3.1rem;
}


/*Header*/
.common-header{
    height:0.49rem;
    background:#303030;
    position: relative;
    padding: 0 0.13rem 0 0.225rem;
    display: flex;
    justify-content: space-around;
}
.common-header-left{
    width: 0.1rem;
    height: 0.49rem;
}
.common-header-left img{
    width: 100%;
    position: relative;
    top:0.185rem;
}
.common-header-center{
    height: 0.49rem;
    line-height: 0.49rem;
    margin: 0 auto;
    color: #fff;
    font-size: 0.18rem;
}
.common-header-center img{
    width: 1.22rem;
    position: relative;
    top:0.13rem;
}
.common-header-center span{
    /*width: 0.72rem;*/
    height: 0.49rem;
    position: relative;
    /*top:0.155rem;*/
    display: block;
}
.common-header-right{
    height: 0.49rem;
}
.common-header-right img{
    width: 0.265rem;
    position: relative;
    top:0.13rem;
}
.common-header-right a{
    display: block;
    margin: 0.18rem 0 0;
}
/*Footer*/
.common-footer{
    width: 100%;
    height: 0.49rem;
    border-top: 2px solid #EDEDED;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:99;
    background: #fff;
}
.common-footer-nav{
    width: 100%;
    height: 0.49rem;
    display: flex;
    justify-content: space-around;
}
.common-footer-nav-list{
    height: 0.49rem;
    width: 100%;
    text-align: center;
    position: relative;
}
.common-footer-list{
    width: 0.22rem;
    margin: 0 auto;
}
.common-footer-list img{
    width: 100%;
    position: relative;
    top:0.06rem;
}
.common-footer-nav-list p{
    position: absolute;
    bottom:0.04rem;
    width: 100%;
    margin: 0;
}
.common-footer-nav-list p.active{
    color: #D93740;
}
/*Account-setting*/
.common-account-setting{
    height: 0.3rem;
    margin-bottom: 0.4rem;
    padding: 0 0.325rem 0 0.395rem;
    display: flex;
    justify-content: space-between;
}
.common-account-setting .icon{
    width: 0.2rem;
    /*height: 0.2rem;*/
}
.common-account-setting .icon img{
    width: 100%;
    position: relative;
    top:0.05rem;
}
.common-account-setting .word{
    padding-top: 0.05rem;
    margin-left: -1rem;
}
/*Trade-list*/
.common-trade-list{
    height: 0.5rem;
    padding: 0.12rem  0;
    margin:0 0.13rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f2f2f2;
}
.common-trade-left{
    width: 0.3rem;
    height: 0.5rem;
}
.common-trade-left img{
    width: 100%;
}
.common-trade-center{
    width: 1.98rem;
}
.common-trade-center-user{
    height: 0.5rem;
}
.common-trade-center-user a{
    color:#333;
}
.common-trade-center-user h4,h5{
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.common-trade-center-user h5 em{
    font-style: normal;
}
.common-trade-center-user span .pay-type{
    display: inline-block;
}
.common-trade-center-user span img{
    width: 0.13rem;
    position: relative;
    top: 0.03rem;
    margin-right: 0.02rem;
}
.common-trade-right {
    font-size:0;
}
.common-trade-right .common-btn-bgc-d93740{
    display: block;
   /* margin-left: 0.2rem;*/
}
.common-trade-right .common-btn-bgc-27c1c3{
    display: block;
  /*  margin-left: 0.2rem;*/
}
/*Modal*/
.common-modal{
    width: 3.1rem;
    background: #ffffff;
    border-radius: 2px;
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    margin: -0.83rem 0 0 -1.55rem;
    z-index: 9999;
}
.common-modal-header{
    text-align: center;
    margin: 0 0 0.1rem;
    padding: 0.3rem 0.19rem 0 0.3rem;
}
.common-modal-header.left{
    text-align: left;
}
.common-modal-header.next-line{
    margin: 0 0 0.3rem;
}
.common-modal-content{
    text-align: center;
    margin-bottom: 0.3rem;
}
.common-modal-content-user{
    height: 0.48rem;
    padding: 0 0.32rem;
    display: flex;
    justify-content: space-between;
}
.common-modal-content-user .user-list{
    width: 0.48rem;
    height: 0.48rem;
    position: relative;
    box-sizing: border-box;
}
.common-modal-content-user .user-list.active{
    border: 2px solid #D93740;
    border-radius: 50%;
}
.common-modal-content-user .user-list img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.common-modal-content-user .user-list span{
    width: 0.105rem;
    height: 0.105rem;
    display: block;
    position: absolute;
    right:0;
    bottom:0;
    border-radius: 50%;
}
.common-modal-content-user .user-list span.active{
    background:#D93740;
}
.common-modal-btn{
    text-align: center;
    font-size: 0;
}
.common-modal-btn a{
    line-height: 0.4rem;
}
.common-modal-btn .common-btn-bgc-d93740{
    margin: 0 0.15rem 0 0;
}
.common-mask{
    width: 100%;
    height: 100%;
    position: relative;
    left:0;
    top:0;
    bottom:0;
    right: 0;
    background: rgba(48,48,48,1);
    z-index: 999;
}
/* todo */
.common-order-list{

}
.common-order-title{
    padding: 0.1rem 0.325rem;
    position: relative;
}
.common-order-title img{
     width: 0.13rem;
     height:0.14rem;
     margin: 0.03rem 0.1rem 0 0;
}
.common-order-title em{
    font-style: normal;
    color:#333333;
    font-size: 0.15rem;
   
}

.common-order-title  span{
    color: #D83A40;
    position: absolute;
    right: 0.325rem;
}
/*Common-asset*/
.common-asset-list{
    padding:0.3rem 0.26rem 0.3rem 0.3rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #F2F2F2;
}
.common-asset-left{
    width: 0.23rem;
    height: 0.23rem;
}
.common-asset-left img{
    width: 100%;
    height: 100%;
}
.common-asset-center {
    margin-left: -0.3rem;
}
.common-asset-center p{
    margin: 0.09rem 0 0.09rem 0;
}
.common-asset-center h5{
    margin: 0;
}
.common-asset-center h5 em{
    font-style: normal;
}
.common-asset-right{
    padding-top: 0.13rem;
}
/*Common-bill*/
.common-bill-list{
    padding: 0.1rem 0.2225rem 0.1rem 0.325rem;
}
.common-bill-list.with-drawal h2{
    color:#13C1C4;
}
.common-bill-list h2{
    margin: 0 0 0.1rem 0;
    color: #D83A40;
    font-weight: bold;
}
.common-bill-list ul{
    padding: 0;
}
.common-bill-list ul li{
    margin-bottom: 0.03rem;
    position: relative;
    padding-left: 0.78rem;
}
.common-bill-list ul li em{
    font-style: normal;
    margin-right: 0.5rem;
    position: absolute;
    top:0;
    left:0;
}
.common-bill-list ul li p{
    width: 2.405rem;
    display: inline-block;
    margin: 0;
    word-wrap:break-word;
}
/*账户等待支付样式*/
.common-account-pay-list{
    padding: 0.2rem 0.425rem 0.19rem 0.33rem;
    overflow: hidden;
    font-size: 0;
}
.common-pay-list-left{
    width: 0.22rem;
    height: 0.22rem;
    float: left;
    margin-right: 0.1rem;
}
.common-pay-list-left img{
    width: 0.22rem;
    height: 0.22rem;
}
.common-pay-list-center{
    float: left;
}
.common-pay-list-center h4{
    margin: 0 0 0.05rem 0;
    padding-top: 0.01rem;
}
.common-pay-list-center p{
    margin: 0;
    font-size: 0.11rem;
}
.common-pay-list-center p em{
    font-style: normal;
    margin-left: 0.05rem;
}
.common-pay-list-center span{
    margin: 0;
    width: 2.2rem;
    font-size: 0.11rem;
}
.common-pay-list-center span em{
    font-style: normal;
    margin-left: 0.05rem;
}
.common-pay-list-right{
    width: 0.3rem;
    height: 0.3rem;
    float: right;
}
.common-pay-list-right img{
    width: 100%;
}
/*Index*/
.Zyn-index-banner{
    width: 100%;
    height: 1.47rem;
    position: relative;
}
.Zyn-index-banner .swiper-container，.Zyn-index-banner .swiper-container .swiper-wrapper{
    width: 100%;
    height: 100%;
}
.Zyn-index-banner .swiper-container .swiper-wrapper .swiper-slide{
    width: 100%;
    height: 100%;
    position: relative;
}
.Zyn-index-banner .swiper-pagination{
    width: 100%;
    height: 1.2rem;
    bottom:0;
}
.Zyn-index-banner .swiper-pagination-bullet{
    width: 0.06rem;
    height: 0.06rem;
    background:#ffffff;
    opacity: 0.3;
}
.Zyn-index-banner .swiper-pagination-bullet-active{
    opacity: 1;
}
.Zyn-index-asset{
    width: 100%;
    height: 0.93rem;
    text-align: center;
    padding-top: 0.12rem;
    position: relative;
}
.Zyn-index-asset-view{
    width: 100%;
    padding: 0.13rem 0;
}
.Zyn-index-asset-list{
    width: 100%;
    height: 0.7rem;
    display: flex;
    justify-content: space-around;
}
.Zyn-index-list-detail{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.Zyn-index-list-detail img{
    width: 0.31rem;
    height: 0.31rem;
}
.Zyn-index-list-detail p{
    left:30%;
    margin: 0;
    position: absolute;
    bottom:0.16rem;
}
.Zyn-index-list-detail span{
    margin: 0;
    position: absolute;
    bottom:0;
    left:40%;
}
.Zyn-index-asset h3{
    margin: 0 0 0.05rem;
}
.Zyn-index-asset p{
    margin: 0 0 0.1rem 0;
}
.Zyn-index-asset button, .Zyn-index-asset > a{
    position: absolute;
    bottom:0.11rem;
    left: 50%;
    margin-left: -0.5rem;
    color:#333;
    font-size: 0.13rem;
    border: 1px solid #999999;
}
.Zyn-index-advertisement{
    width:100%;
    height: auto;
    margin-bottom: 0.49rem;
}
.Zyn-index-advertisement h3{
    margin: 0;
    padding: 0.08rem 0 0.08rem 0.13rem;
    border-bottom: 2px solid #f2f2f2;
    border-top:0.05rem solid #f9f9f9;
}
/*Myhomepage*/
.Zyn-homepage-personal{
    padding: 0.3rem 0 0.2rem 0.325rem;
}
.Zyn-homepage-personal .Zyn-homepage-user{
    width: 100%;
    overflow: hidden;
}
.Zyn-homepage-user .left{
    width: 0.5rem;
    height: 0.5rem;
    float: left;
    margin-right: 0.16rem;
}
.Zyn-homepage-user .left img{
    width: 100%;
}
.Zyn-homepage-user .right{
    float: left;
}
.Zyn-homepage-user .right h2{
    margin: 0.02rem 0 0.03rem 0;
    font-size: 0.22rem;
}
.Zyn-homepage-user .right p{
    margin: 0;
}
.homepage-list{
    margin-bottom: 0.49rem;
}
.common-homepage-list.login{
    font-size: 0;
}
.common-homepage-list.setting{
    font-size: 0;
}
.common-h1 {
    color: #303030;
    font-size: 0.3rem;
    margin: 0 auto;
    width: 3.1rem;
    margin-top:0.4rem;
    margin-bottom:0.3rem;
}
.common-user-license {
    height:0.15rem;
    display:flex;
    font-size:0.14rem;
    color: #333333;
    align-items: center;
    padding-top: 0.1rem;
}
.common-user-license a {
    color:#0e6bf7;
}
.common-checkbox {
    width:0.15rem;
    height:0.15rem;
    margin-right:0.1rem;
}
.common-checkbox [type="checkbox"]{
    width: 0.15rem;
    position: absolute;
    top: 0;
    opacity: 0;
}
.common-checkbox img {
    width:100%;
}
.common-user-license .common-checkbox {
    position:relative;
    top:-1px;
}
.order-pay-type {
    padding: 0.2rem 0 0.1rem 0.33rem;
    position:relative;
}
.order-pay-name {
    height:0.21rem;
    font-size:0.15rem;
}
.order-pay-name img {
    width:0.21rem;
    margin-right:0.06rem;
}
.order-pay-name span {
    display:inline-block;
}
.order-pay-des {
    color:#999;
    font-size:0.11rem;
    margin-top:0.06rem;
    padding-left: 0.3rem;
}
.order-pay-qr {
    width:0.3rem;
    position:absolute;
    right:0.43rem;
    top:0.22rem;
}
.order-pay-types {
    margin-top:-0.1rem;
    border-bottom:1px solid #F2F2F2;
}
/*  单选框  */
.common-radio {
    width: 0.18rem;
    height: 0.18rem;
    background-image: url("../images/radio0@3x.png") ;
    background-size: 100%;
    background-repeat: no-repeat;
}
.common-radio.selected {
    background-image: url("../images/radio1@3x.png");
}
.common-trade-header {
    height:0.8rem;
    padding: 0.15rem 0 0.15rem 0.325rem;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
}
.common-trade-header .avatar {
    width:0.5rem;
}
.common-trade-header-info {
    font-size: 0.14rem;
    margin-left:0.15rem;
    color: #666666;
    padding-top: 0.04rem;
}
.common-trade-header-info .name {
    font-size: 0.17rem;
    color: #333333;
}
.common-trade-header-info .user-info {
    font-weight: 300;
    font-size:0.14rem;
    height:0.14rem;
    line-height:0.14rem;
    margin-top: 0.06rem;
}
.common-trade-header-info .user-info > span{
    height:0.14rem;
    line-height:0.14rem;
    display: inline-block;
    padding-right:0.04rem;
}
.common-trade-header-info .user-info .ratings {
    border-left: 2px solid #666666;
    padding-left: 0.1rem;
}
.trade-content {
    border-top: 1px solid  #F2F2F2;
    border-bottom: 1px solid  #F2F2F2;
    padding-left:0.325rem;
    padding-top:0.15rem;
    padding-bottom: 0.05rem;
    margin:0;
}

.trade-content li {
    height:0.13rem;
    line-height:0.13rem;
    font-size:0.13rem;
    margin-bottom:0.1rem;
}
.trade-content li span {
    display:inline-block;
}
.trade-content li .label {
    width:0.82rem;
}
.trade-content .price {
    height:0.17rem;
    font-size:0.17rem;
    color:#D93740;
    line-height:0.17rem;
    margin-bottom:0.15rem;
}
.trade-content .price .pay-types {
    margin-left:0.1rem;
}
.trade-content .price .pay-types img {
    width:0.13rem;
    vertical-align: baseline;
}
/* 忘记登录密码  */
.forget .common-form  > button{
    margin-top: 0.25rem;
}
.cardv .common-error-text,
.auth .common-error-text,
.forget .common-error-text{
    padding-left: 0.84rem;
    font-size: 0.13rem;
    margin-top: -0.1rem;
    margin-bottom: 0.05rem;
}
/*  登录  */
.login .common-form  > button{
    margin-top: 0.2rem;
}
.login .forget {
    font-size:0.14rem;
    color: #D93740;
    display:inline-block;
}
/* 忘记登录密码  */
.forget .common-form  > button{
    margin-top: 0.25rem;
}
/*  注册  */
.register .common-form  > button{
    margin-top: 0.4rem;
}
.country-select{
    position: relative;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
}
/* 订单 */
section.order-status {
    color: #999999;
    font-size:0.13rem;
    text-align:center;
    padding:0.6rem 0 0.5rem 0 ;
    border-bottom:1px solid #F2F2F2;
}
.order-notice {
    margin-left:auto;
    margin-right:auto;
    color: #D93740;
    font-size:0.13rem;
}
.order > button {
    display:block;
    margin: 0.1rem auto 0;
}

.order .btn-appeal {
    position:absolute;
    bottom:0.15rem;
    right:0.325rem;
}
/*   交易  */
.ad_content div {
    color:#999;
    text-align: center;
    margin-top: 2rem;
}
.ad_content button {
    display:block;
    margin: 0.1rem auto 0;

}

/*我的订单页面*/
.order-list{
    font-size:0;
}
.order-content-img{
    width:1rem;
    height: 1rem;
    margin: 0.4rem auto;
}
.order-content-word h4{
    margin: 0 0 0.1rem;
    text-align: center;
}
.order-content-word p{
    margin: 0;
    text-align: center;
}
.order-content-show .common-order-title, .common-order-create-info{
    font-size: 0;
}
/*我的广告页面*/
.advertisement-content.sell{
    display: none;
}
.advertisement-list{
    font-size: 0;
}
.advertisement-content .common-order-title{
    font-size: 0;
}
.advertisement-content.sell  .common-order-title span.sell{
    color: #13C1C4;
}
.common-btn-bgc-white.sell{
    color: #13C1C4;
    border: 1px solid #13C1C4;
}


.ad_contents {
    margin: 0.1rem auto 0;
}

.common-no-input-wrap {
    align-items: center;
    color: #333333;
    border: none;
}
.common-no-input-wrap .common-checkbox {
    margin-right: 0.05rem;
}
.common-no-input-wrap span {
    margin-right:0.15rem;
    font-size:0.13rem;
}

.trade_ad .common-input-item-label-2.ad-type {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 0.1rem;
}
.trade_ad .common-input-item-label-2.coin-type {
    margin-bottom: 0;
}
.trade_ad .common-input-item-label-2.coin-type .common-input  {
    line-height: 0.4rem;
    border:none;
    text-indent: 0;
}
.trade_ad .common-radio{
    margin-right:0.05rem;
}
.trade_ad .sum-types {
    justify-content: space-between;
}
.trade_ad .sum-types > div {
    display:flex;
    align-items: center;
    height:0.4rem;
}
.trade_ad .sum-types .common-checkbox {
    display: inline-block;
    margin-right:0.07rem;
}
.trade_ad .sum-types span {
    margin-right:0;
    position: relative;
    top: 1px;
    font-size:0.13rem;
}

.trade_ad .trade-btc-wrap ,
.trade_ad .trade-eth-wrap
{
    display:none;
}
.trade_ad .common-input-error .common-input{
   color: #D93740;
}
.trade_sell .common-btn-bgc-d93740 {
    background:#27c1c3;
}
.trade_sell  .common-trade-rate {
    color:#27c1c3;
}


/*我的资产页面*/
.asset-content .common-asset-center a{
    background: #fff;
    color: #D93740;
    border: 1px solid #D93740;
}
.common-asset-center{
    font-size: 0;
}
.common-asset-right{
    font-size: 0;
}
.asset-content .common-asset-right .common-btn-bgc-d93740{
    margin: 0 0 0.25rem 0;
}
/*我的账单页面*/
.bill-content .common-bill-list ul{
    font-size: 0;
}
.bill-content.no-show .bill-content-img{
    width: 1rem;
    height: 1rem;
    margin: 0.79rem auto 0.4rem;
}
.bill-content.no-show .bill-content-img img{
    width: 100%;
    height: 100%;
}
.bill-content.no-show p{
    color:#C2C2C2;
    margin: 0;
    text-align: center;
}
/*我的提现页面*/
.withdrawal-content-form{
    font-size: 0;
    position: relative;
}
.withdrawal-content-title{
    padding:0.3rem 0 0.15rem 0.325rem;
    border-bottom: 1px solid #f2f2f2;
}
.withdrawal-content-title h3{
    margin: 0 0 0.1rem 0;
    font-weight: bold;
}
.withdrawal-content-title p{
    margin: 0;
    color:#D83A40;
    font-weight: bold;
}
.withdrawal-content-form{
    padding: 0.2rem 0 0 0.325rem;
}
.withdrawal-content-form button {
    /*position: absolute;*/
    /*bottom:-0.6rem;*/
    /*left:0.325rem;*/
}
.withdrawal-content-form .common-input-item p{
    word-wrap: break-word;
    word-break: normal;
}
.withdrawal-content-tip{
    padding:0.7rem 0.325rem 0 0.325rem;
}
.withdrawal-content-tip h3{
    margin: 0;
}
.withdrawal-content-tip p{
    margin:0 0 0.48rem 0;
}
.draw-modal{
    width:2.4rem;
    height: 0.6rem;
    background: rgba(51,51,51,0.70);
    border-radius: 2px;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -1.2rem;
    display: none;
}
.draw-modal p{
    margin: 0;
    text-align: center;
    line-height: 0.6rem;
}
.trade form {
    padding-top:0.05rem;
}
.trade form > button {

}
.trade form > div {
    font-size:0.13rem;
}
.trade .pay-type {
    margin-bottom:0;
}
.trade .pay-type .common-no-input-wrap{
    display: flex;
    justify-content: space-between;
}

.trade .pay-type .common-no-input-wrap > div{
    display: flex;
    height: 0.4rem;
    align-items: center;
}
.trade .pay-type .common-no-input-wrap span {
    margin-right:0;
}
.trade .pay-type .common-radio {
    margin-right:0.05rem;
}

.trade .normal-line {
    display:flex;
    margin-bottom:0.15rem;
    color:#D93740;
}
.trade .normal-line .label-b {
    width: 0.84rem;
}
.trade .normal-line  .common-input-wrap {
    color:#D93740;
}
.trade .common-user-license {
    margin-top:0.05rem;
    padding-bottom:0.05rem;
}
.trade  .trade-notice {
    color: #3F3F3F;
    font-size: 0.1rem;
    padding: 0.15rem 0.325rem 0 0.325rem;
    margin:0;
    border-top: 1px solid #F2F2F2;
}
/*我的充值页面*/
.charge-content .charge-title{
    margin: 0.3rem 0 0.225rem 0.325rem;
    font-weight: bold;
}
.charge-content .charge-img{
    width: 1.39rem;
    margin: 0 auto;
    font-size: 0;
}
.charge-content .charge-img img{
    width: 100%;
}
.charge-content .charge-img p{
    margin: 0.17rem 0;
    text-align: center;
}
.charge-content .charge-address span{
    display: block;
    text-align: center;
}
.charge-content .charge-address{
    padding: 0 0.42rem;
    font-size: 0;
    text-align: center;
}
.charge-content .charge-address button{
    margin: 0.4rem auto 0.3rem;
}
.charge-tip{
    /*border-top: 1px solid #f2f2f2;*/
    padding: 0.15rem 0.3rem 0.36rem 0.335rem;
}
.charge-tip h3,p{
    margin: 0;
    font-weight: 300;
}
.copy-modal{
    width: 1.25rem;
    height: 0.4rem;
    background: rgba(51,51,51,0.70);
    border-radius: 2px;
    text-align: center;
    line-height: 0.4rem;
    color:#fff;
    position: fixed;
    left:50%;
    margin-left: -0.625rem;
    top:48%;
    display: none;
}
/*账户安全设置页面*/
.security-content{
    padding-top: 0.4rem;
}
.security-content .common-account-setting .icon.trade{
    width: 0.2rem;
    height: 0.16rem;
    padding-top: 0.02rem;
}
.security-content .common-account-setting .icon.phone{
    width: 0.16rem;
    height: 0.23rem;
}
.security-content .common-account-setting .icon.password{
    width: 0.17rem;
    height: 0.19rem;
}
/*修改手机页面*/
.modify-phone-content{
    padding: 0.41rem 0 0 0.3rem;
    font-size: 0;
}
.modify-phone-content .common-input-item p{
    margin: 0;
    line-height: 0.4rem;
    font-weight: 400;
}
.modify-phone-content .common-input-item  .label-b{
    margin-right: 0.05rem;
}
.modify-phone-content .submit{
    margin-top: 0.25rem;
}
/*修改登录密码页面*/
.modify-login-password-content{
    padding: 0.4rem 0 0 0.3rem;
    font-size: 0;
}
.modify-login-password-content button{
    margin: 0.25rem 0 0 0.025rem;
}
/*绑定邮箱页面*/
.bind-email-content{
    padding: 0.4rem 0 0 0.3rem;
    font-size: 0;
}
.bind-email-content button.submit{
    margin: 0.25rem 0 0 0.025rem;
}
/*忘记交易密码页面*/
.forget-trade-password-content{
    padding: 0.4rem 0 0 0.3rem;
    font-size: 0;
}
.forget-trade-password-content .common-input-item p{
    margin: 0;
    line-height: 0.4rem;
    font-weight: 400;
}
.forget-trade-password-content button.submit{
    margin: 0.25rem 0 0 0.025rem;
}
/*修改交易密码页面*/
.modify-trade-password-content{
    padding: 0.4rem 0 0 0.3rem;
    font-size: 0;
}
.modify-trade-password-content button.submit{
    margin: 0.25rem 0 0 0.025rem;
}
.modify-trade-password-content a{
    color:#D93740;
    display: block;
    margin: 0.2rem 0 0 0.025rem;
}
/*创建交易密码页面*/
.create-trade-password-content{
    padding: 0.4rem 0 0 0.3rem;
    font-size: 0;
}
.create-trade-password-content .label-b{
    margin-right: 0.05rem;
}
.create-trade-password-content button.submit{
    margin: 0.25rem 0 0 0.025rem;
}

/*用户基础信息页面*/
.user-base-info-content .user-info span.count{
    border-right: 0;
}
.user-base-info-list{
    overflow: hidden;
}
.user-base-info-left{
    float:left;
    width: 0.56rem;
    text-align: left;
    margin-right: 0.375rem;
}
.user-base-info-right{
    float: left;
}
.user-base-info-right.unauthorized{
    color:#D83A40;
}
.user-base-info-right.summary{
    width: 2.07rem;
    position: relative;
    padding-right: 0.2rem;
}
.user-base-info-right.summary span{
    width: 0.18rem;
    height: 0.16rem;
    position: absolute;
    right:0;
    top:0.045rem;
}
.user-base-info-right.summary span img{
    width: 100%;
}
#summary-modal{
    padding-bottom: 0.3rem;
}
.common-modal-header.summary{
    overflow: hidden;
    margin: 0;
    padding: 0.3rem 0 0.3rem 0.225rem;
}
.common-modal-header .summary-left{
    float: left;

}
.common-modal-header .summary-right{
    float: left;
    width: 2rem;
    height: 0.9rem;
}
.common-modal-header .summary-right textarea{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    border-radius: 2px 0 0 2px;
    color:#999;
    padding:0.1rem;
}
/*身份认证页面*/
.identity-content{
    padding: 0.4rem 0 0 0.3rem;
    font-size: 0;
}
.identity-content button.submit{
    margin: 0.25rem 0 0 0.025rem;
}
#identityModal{
    height: 1.7rem;
}
#identityModal .common-modal-header{
    text-align: left;
}
.identity-content-list{
    overflow: hidden;

}
.identity-list-left{
    float: left;
    width:0.7rem;
    margin-right: 0.375rem;
}
.identity-list-right{
    float: left;
}
/*账户设置页面*/
.account-setting-content{
    padding: 0.4rem 0 0 0;
}
.account-setting-content div.bind{
    font-size: 0.14rem;
    color: #D93740;
    text-align: center;
}
#accountModal{
    height: 1.7rem;
    display: block;
}
#accountModal .common-modal-header{
    text-align: left;
}
#accountMask{
    position: fixed;
    background: rgba(48,48,48,0.30);
}
/*绑定银行卡页面*/
.bind-back-card-content{
    padding: 0.4rem 0 0 0.3rem;
    font-size: 0;
}
.bind-back-card-content button.submit{
    margin: 0.25rem 0 0 0.025rem;
}
/*绑定微信页面*/
.bind-weichat-content{
    padding: 0.4rem 0 0 0.3rem;
    font-size: 0;
}
.bind-weichat-content .label-b{
    font-size: 0.13rem;
    font-weight: 400;
}
.bind-weichat-content .common-input{
    font-size: 0.13rem;
}
.bind-weichat-content button.submit{
    margin: 0.25rem 0 0 0.025rem;
}
.bind-weichat-content button.upload{
    margin: 0.05rem 0 0 0;
    font-size: 0.12rem;
}
.bind-weichat-content .common-input-item.upload .common-input {
    height: 1.415rem;
    text-align: center;
  /*  line-height: 1.415rem;*/
    text-indent: 0;
    padding-top: 0.45rem;
    color:#999999;
    font-size: 0.13rem;
}
.bind-weichat-content .common-input-item.show .common-input {
    height: 1.81rem;
    text-align: center;
}
.bind-weichat-content .common-input-item.show .common-input img{
    width:1.39rem;
    height: 1.43rem;
    margin: 0.185rem auto 0;
}
/*购买VER页面*/
.buy-order-content{
    font-size: 0;
}
.buy-order-content p{
    margin:0.7rem auto 0;
    text-align: center;
}
.buy-order-content .common-order-detail li{
    position: relative;
}
.buy-order-content .common-order-detail li #complaint{
    position: absolute;
    right:0.325rem;
    top:0;
    background: #FFFFFF;
    border: 1px solid #999999;
}
#orderModal .common-modal-header{
    text-align: left;
}
.buy-order-content .trade-evaluation .eva-title{
    color:#D93740;
    text-align: center;
    padding-top: 0.2rem;
}
.buy-order-content .eva-content{
    padding:0 0.925rem;
    display: flex;
    justify-content: space-between;
}
.buy-order-content .eva-content .eva-list{
    width: 0.4rem;
    text-align: center;
    font-size: 0;
}
.buy-order-content .eva-content .eva-list img{
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.2rem 0 0.1rem;
}
.buy-order-content .eva-content .eva-list div.eva{
    color: #D93740;
}
.buy-order-content button.submit{
    margin: 1.245rem 0 0 0.325rem;
}
/*购买VER账户等待付款页面*/
.btn-tip{
    text-align: center;
    margin: 0.6rem 0 1.5rem;
}
.order-tip{
    margin: 0 0.13rem;
    font-size: 0;
    padding: 0.2rem 0.195rem 0.175rem;
    border-top: 2px solid #F2F2F2;
}
.order-tip p{
    margin: 0 0 0.15rem;
    color:#D93740;
}
.order-tip button.cancle{
    margin-right: 0.1rem;
}
.codeModal{
    width: 2.38rem;
    height: 3.66rem;
    position: fixed;
    top: 20%;
    left:50%;
    margin-left: -1.19rem;
    z-index: 9999;
    display: none;
    padding-top: 0.36rem;
}
.codeModal .close{
    width: 0.22rem;
    height: 0.22rem;
    position: absolute;
    right:-0.43rem;
    top:0;
}
.codeModal .close img{
    width: 0.22rem;
    height: 0.22rem;
}
.codeModal img.show{
    width: 100%;
    padding: 0.05rem;
    background: #fff;
    box-sizing: border-box;
}

/*出售VER订单状态页面*/
.buy-order-content.sell p{
    margin: 0.68rem 0.325rem 0.31rem;
    text-align: center;
}
.order-tip.sell p{
    margin: 0 0 0.1rem 0;
    text-align: left;
}
.home-view {
    display:none;
}
#home-view {
    display:block;
}
#infoDetail {
    margin-top:0.3rem;
}

form.payment .common-input{
    font-size: 0.13rem;
}
form.payment .label-b {
    font-size: 0.13rem;
    font-weight: 400;
}

form.payment button.upload{
    font-size: 0.12rem;
    background-image: linear-gradient(15deg, #EE6874 0%, #D93740 54%);
}

.qrcode-wrap {
    min-height: 1rem;
    color: #C2C2C2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#qrcodeShow {
    padding: 0.18rem 0;
    text-align: center;
}

#qrcodeShow img {
    width:60%;
}

/*#infoTabs {
    padding-bottom:0.4rem;
}*/

.trade_ad {
    padding-bottom:0.6rem;
    font-size:0.13rem;
}
.trade_ad .label-b,
.trade_ad .common-input
{
    font-size:0.13rem;
}
.real-radio {
    display:none;
}

.common-trade-center-user a {
    color:#333;
}
.common-trade-center-user h5 span ,
.common-trade-center-user h5 em {
    font-size: 0.1rem;
}
#infoTabs{
    margin-bottom: 0.49rem;
}
/*用户协议*/
.indent{
    padding-left: 0;
    text-indent: 0.2rem;
}
.agree-content p{
    font-weight: normal;
}

/* copy */
.copy{
    position:absolute; z-index: -1; opacity: 0;
}

.wallets .charge  {
    border-bottom: 1px solid #f2f2f2;
}

#qrcodeCanvas {
    width:100%;
}

#qrcodeCanvas canvas {
    width:100%;
}

form.withdrawal-content input[type="text"] {
    border-color:#C2C2C2;
}