@charset "utf-8";
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a:hover,a:active{outline:0}
figure{padding:0;margin:0}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}
button,input{*overflow:visible;line-height:normal}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
textarea{overflow:auto;vertical-align:top}
ol,ul,dl{list-style:none}
body,p,ol,ul,dl{padding:0;margin:0}
a:link,a:visited{text-decoration:none;color:#555}
a:hover{color:#c31}
a.white{color:#fff}
a.blue{color:#3399e0}
/* 页面公共头部样式*/
.header {
    width: 100%;
    height: 50px; }
.header .navbar-default {
    background: #303030;
    border-radius: 0; }
.header .navbar-default .header-logo {
    width: 130px;
    height: 50px;
    text-align: center; }
.header .navbar-default .header-logo img {
    width: 100px; }
.header .navbar {
    border: 0;
    padding: 0 120px; }
.header .navbar .navbar-nav .dropdown-menu a {
    padding: 10px 0;
    color: #303030;
    text-align: center;}
.header .navbar-nav.navbar-right .dropdown-menu dt {
    display: inline-block;
    padding: 6px 0 0 0;
    vertical-align: top; }
.header .navbar-nav.navbar-right .dropdown-menu dd {
    display: inline-block;
    padding: 6px 0 0 0;}
.header .navbar .navbar-nav .open .dropdown-menu{
    padding: 0;
    min-width: 68px;
}
.header .navbar .navbar-right .open .dropdown-menu{
    padding: 0;
    min-width: 100px;
}
.header .navbar-nav.navbar-right .dropdown-menu button {
    width: 100%;
    border: 0;
    text-align: center;
    border-radius: 0;
    background: #303030;
    color:#fff;
}
.header .navbar-nav.navbar-right .dropdown-menu button:hover{
    background: #444;
}
.header .navbar-default .navbar-nav>li>a:hover{
     background-color: #D93740;
     color:#FFF;
 }
.header .navbar-default .navbar-nav.index>li>a:hover{
    background-color: #303030;
    color:#FFF;
}
.header .navbar-default .navbar-nav>li>a{
    color: #AAA;
}
.header .navbar .nav-index .default-color a{
    color:#fff;
}
.header .navbar .nav-index .dropdown-menu{
    background: #303030;
}
.header .navbar .nav-index .dropdown-menu>li>a:hover{
    background: #444;
    color:#fff;
}
.header .navbar .nav-index .dropdown-menu>li>a:hover{
    background: #444;
    color:#fff;
}
.header .navbar .nav-index .dropdown-menu>li>a.default:hover{
    background: #303030;
    color:#fff;
}
.header .navbar .right .dropdown-menu{
    background: #303030;
    border:0;
}
.header .navbar .right .dropdown-menu a{
    color:#fff;
}
.header .navbar .right .dropdown-menu.reset li.first{
    background: #fff;
}
.header .navbar .right .dropdown-menu.reset li a:hover{
    background: #444;
    color:#fff;
}
.header .glyphicon{
    top:3px;
}
.header .glyphicon-th-list{
    left:-5px;
    top:2px;
}
    /*页面公共尾部样式*/
.language-select {
    padding: 18px 0;
    background: #f0f0f0; }
.language-select ul {
    width: 280px;
    overflow: hidden;
    list-style-type: none;
    padding: 0 0 0 70px;
    margin: 0 auto;}
.language-select ul li {
    margin-left: 8px;
    padding-right: 8px;
    border-right: solid 1px #d7d6d6;
    line-height: 100%;
    float: left;
    font-size: 14px;}
.language-select ul li a{
    color:#AAAAAA;
}
.language-select ul li a:hover{
    color:#333333;
    text-decoration: underline;
}
