@import "base.css";
@media (max-width: 768px) {
  .nav-list {
    display: none; } }
/*首页banner图样式*/
.banner {
  width: 100%;
  height: 420px;
  position: relative; }
.banner .carousel {
    width: 100%;
    height: 100%; }
.banner .carousel .carousel-inner {
      width: 100%;
      height: 420px; }
.banner .carousel .carousel-inner .item {
        width: 100%;
        height: 420px; }
.banner .carousel .carousel-inner .item img {
          width: 100%;
          height: 420px; }
.banner .carousel .icon {
      width: 50px;
      height: 50px;
      font-size: 30px;
      display: block;
      border: 2px solid #fff;
      padding: 10px;
      border-radius: 50%;
      font-weight: 100;
      line-height: 1;
      color: #fff;
      position: absolute; }
.banner .carousel .icon.left {
        left: 20%;
        top: 46%; }
.banner .carousel .icon.right {
        right: 20%;
        top: 46%; }
/*首页买卖安全内容*/
.content {
  width: 100%;
  background: #f0f0f0;
  padding-bottom: 60px; }
.content .row .col-md-12 h3 {
    text-align: center;
    margin: 45px 0 20px;
    color: #727272; }
.content .row .col-md-12 p {
    color: #727272;
    text-align: center;
    margin-bottom: 40px; }
.content .row .col-md-12 p a {
      color: #D93740; }
.content .row .col-md-3 .trade-list {
    width: 100%;
    height: 310px;
    transition: all .3s ease-out;
    margin-bottom: 30px; }
.content .row .col-md-3 .trade-list:hover {
      box-shadow: 0px 0px 5px #cf2731; }
.content .row .col-md-3 .trade-list .profile {
      width: 100%;
      height: 140px;
      background: #303030;
      padding: 15px 0 0; }
.content .row .col-md-3 .trade-list .profile .user {
        width: 50px;
        height: 50px;
        position: relative;
        margin: 0px auto 20px; }
.content .row .col-md-3 .trade-list .profile .user img {
          width: 100%;
          height: 100%;
          border-radius: 50%; }
.content .row .col-md-3 .trade-list .profile .user .user-state {
          display: block;
          height: 11px;
          width: 11px;
          border-radius: 11px;
          border: 1px solid #fff;
          background: #c9d2dc;
          position: absolute;
          right: 0;
          bottom: 0; }
.content .row .col-md-3 .trade-list .profile table {
        width: 100%;
        padding: 0 50px; }
.content .row .col-md-3 .trade-list .profile table td {
          color: #fff;
          text-align: center; }
.content .row .col-md-3 .trade-list .caption {
      padding: 9px;
      color: #727272;
      background: #fff;
      text-align: center; }
.content .row .col-md-3 .trade-list .caption h3 {
        margin: 0;
        font-size: 16px;
        padding: 12px 22px;
        border-bottom: solid 2px #ddd;
        display: inline-block;
        margin-bottom: 11px; }
.content .row .col-md-3 .trade-list .caption p {
        margin: 0;
        color: #777777;
        font-size: 12px; }
.content .row .col-md-3 .trade-list .caption .btn {
        margin-top: 11px; }
.content .row .col-md-3 .trade-list .caption .btn.btn-sm {
          padding: 5px 10px;
          font-size: 12px;
          line-height: 1.5;
          border-radius: 3px; }
.content .row .col-md-3 .trade-list .caption .btn.btn-primary {
          color: #fff;
          background-color: #D93740;
          border-color: #cf2731; }
/*首页规范信息*/
.site-info {
  background-color: #fff;
  padding: 35px 0;
  margin: 20px 0;
  width: 100%;
  overflow: hidden; }
.site-info .site-item {
    width: 25%;
    float: left;
    text-align: center;
    padding: 0 2px; }
.site-info .site-item img {
      width: 27px;
      height: 28px; }
.site-info .site-item h3 {
      font-size: 24px;
      margin-top: 22px;
      margin-bottom: 11px; }
.site-info .site-item p {
      margin: 0 0 11px;
      padding: 0 30px; }

/*用户基本信息页面样式*/
.content-usercenter {
  width: 100%; }
.content-usercenter .col-md-2 .panel-body {
  padding: 0; }
.content-usercenter .col-md-2 .panel-body a {
  width: 100%;
  display: block;
  padding: 15px 0 15px 15px;
  color: #D93740; }
.content-usercenter .col-md-2 .panel-body a:hover {
  background: #ddd; }
.content-usercenter .col-md-3 .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative; }
.content-usercenter .col-md-3 .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%; }
.content-usercenter .col-md-3 .avatar .avatar-edit {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  overflow: hidden; }
.content-usercenter .col-md-3 .avatar .avatar-edit span {
  font-size: 12px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 1; }
.content-usercenter .col-md-3 .avatar .avatar-edit input {
  cursor: pointer;
  opacity: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  left: -10px;
  bottom: 0;
  z-index: 5; }
.content-usercenter .col-md-3 .avatar .avatar-edit input:hover {
  opacity: 1; }
.content-usercenter .col-md-6 .username {
  position: relative;
  top: 15px; }

/*身份验证页面*/
.content-authentication{
  width: 100%; }
.content-authentication .col-md-2 .panel-body {
  padding: 0; }
.content-authentication .col-md-2 .panel-body a {
  width: 100%;
  display: block;
  padding: 15px 0 15px 15px;
  color: #D93740; }
.content-authentication .col-md-2 .panel-body a:hover {
  background: #ddd; }
.content-authentication .col-md-10 .panel-body .id-card {
  color: #D93740;
  font-size: 14px; }
.content-authentication .col-md-10 .panel-body .id-card .glyphicon-user {
  position: relative;
  top: 2px;
  margin: 0 10px 40px 0; }
.content-authentication .col-md-10 .panel-body .col-md-6 label {
  font-size: 14px;
  color: #AAAAAA; }
.content-authentication .col-md-10 .panel-body .col-md-6 select {
  width: 100%;
  height: 36px;
  text-indent: 10px; }
.content-authentication .col-md-10 .panel-body .col-md-6 input {
  width: 100%;
  font-size: 14px;
  color: #AAAAAA;
  text-indent: 10px; }
.content-authentication .col-md-10 .panel-body .col-md-6 button {
  width: 100%;
  background: #D93740;
  color: #fff; }
.content-authentication .col-md-10 .tip {
  padding: 0 0 0 20px; }
.content-authentication .col-md-10 .tip h3 {
  font-size: 14px;
  color: #AAAAAA; }
.content-authentication .col-md-10 .tip p {
  font-size: 14px;
  color: #AAAAAA; }

/*安全设置页面*/
.content-security {
  width: 100%; }
.content-security .col-md-2 .panel-body {
  padding: 0; }
.content-security .col-md-2 .panel-body a {
  width: 100%;
  display: block;
  padding: 15px 0 15px 15px;
  color: #D93740; }
.content-security .col-md-2 .panel-body a:hover {
  background: #ddd; }
.content-security .col-md-10 .progress {
  margin-left: 20px; }
.content-security .col-md-10 .row {
  margin-bottom: 30px;
  padding: 40px 0 0;
  border-top: 1px solid #f0f0f0; }
.content-security .col-md-10 .row .media {
  margin-bottom: 30px; }
.content-security .col-md-10 .row .media .media-object {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  line-height: 45px;
  font-size: 22px;
  padding: 0;
  display: block; }

/* 账户设置页面*/
.content-account {
  width: 100%; }
.content-account  .col-md-2 .panel-body {
  padding: 0; }
.content-account  .col-md-2 .panel-body a {
  width: 100%;
  display: block;
  padding: 15px 0 15px 15px;
  color: #D93740; }
.content-account  .col-md-2 .panel-body a:hover {
  background: #ddd; }
.content-account  .col-md-10 .panel-body .id-card {
  color: #D93740;
  font-size: 14px; }
.content-account  .col-md-10 .panel-body .id-card .glyphicon-credit-card {
  position: relative;
  top: 2px;
  margin: 0 10px 40px 0; }
.content-account .col-md-10 .panel-body label {
  font-size: 14px;
  color: #AAAAAA; }
.content-account  .col-md-10 .panel-body .col-md-6 select {
  width: 100%;
  height: 36px;
  text-indent: 10px; }
.content-account  .col-md-10 .panel-body .col-md-6 input {
  width: 100%;
  font-size: 14px;
  color: #AAAAAA;
  text-indent: 10px; }
.content-account  .col-md-10 .panel-body .col-md-6 button {
  width: 100%;
  background: #D93740;
  color: #fff; }
.content-account  .col-md-10 .tip {
  padding: 0 0 0 20px; }
.content-account t .col-md-10 .tip h3 {
  font-size: 14px;
  color: #AAAAAA; }
.content-account  .col-md-10 .tip p {
  font-size: 14px;
  color: #AAAAAA; }

