.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
body {
  background: #f0f0f0;
}
li {
  list-style: none;
}
.container {
  padding: 0;
  width: 1140px;
  overflow: hidden;
}
.container .coin_list {
  height: 40px;
  line-height: 40px;
  background: #e6e6e6;
}
.container .coin {
  width: 70px;
  text-align: center;
  background: #e6e6e6;
  display: inline-block;
  cursor: pointer;
  color: #aaa;
  float: left;
}
.container .coin_active {
  color: #333;
  border-top: 4px solid #d93740;
  background: #fff;
  line-height: 36px;
}
.container .coin_normal:hover {
  background: #f6f6f6;
}
.container .coin_content {
  background: #fff;
  padding-left: 20px;
}
.container .assets {
  background: #fff;
  padding-top: 30px;
}
.container .assets .left {
  font-size: 16px;
  height: 42px;
  line-height: 42px;
}
.container .assets #coinAssets {
  font-size: 30px;
  color: #d93740;
}
.container .assets .left > .coin_type {
  font-size: 30px;
  color: #d93740;
}
.container .assets_list {
  padding-left: 0px;
  margin-top: 29px;
  padding-bottom: 20px;
}
.container .assets_list li {
  display: inline-block;
  margin-right: 20px;
}
.container .mline {
  width: 1100px;
  height: 1px;
  background: #e6e6e6;
}
.container .operate {
  margin-top: 20px;
  margin-bottom: 40px;
}
.container .operate > div {
  text-align: center;
  display: inline-block;
  width: 100px;
  color: #aaa;
  height: 36px;
  line-height: 36px;
  background: #e6e6e6;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  float: left;
}
.container .operate .operate_active {
  background: #d93740;
  color: #fff;
}
.container .form-horizontal .form-group {
  margin-bottom: 10px;
}
.container .form-horizontal .form_submit {
  margin-top: 30px;
}
.container .form-horizontal .form_submit > div {
  margin-left: 0;
}
.container .form-horizontal input {
  width: 400px;
  height: 40px;
}
.container .form-horizontal label {
  padding: 0;
  width: 90px;
  height: 40px;
  line-height: 40px;
}
.container .form-horizontal .btn-danger {
  width: 470px;
  height: 40px;
}
.container .notice {
  color: #aaa;
  font-size: 14px;
  padding: 10px 0 20px 0;
}
.container .record {
  margin-top: 20px;
}
.container .record .title {
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.container .record_list {
  padding: 0;
}
.container .record_list .record_active {
  background: #fff;
  color: #000;
  border-top: 4px solid #d93740;
  line-height: 36px;
}
.container .record_list li {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #aaa;
  background: #f6f6f6;
  float: left;
  cursor: pointer;
}
.container #address {
  width: 300px;
  height: 40px;
  float: left;
}
.container .charge .form-group {
  height: 40px;
}
.container .charge label {
  padding: 0;
  margin: 0;
  width: 70px;
  height: 40px;
  line-height: 40px;
}
.container .charge .col-sm-10 {
  padding-left: 0;
}
.container .charge .copy {
  background: #4192dd;
  height: 40px;
  width: 100px;
}
.container .qrcode {
  padding-top: 5px;
  padding-left: 160px;
  padding-bottom: 20px;
}
.container .qrcode img {
  width: 143px;
}
