.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
body {
  background: #f0f0f0;
}
.container {
  width: 100%;
  padding: 0;
}
.log_reg_form {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #fff;
  padding-bottom: 60px;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
}
.log_reg_form label {
  width: 25%;
}
.log_reg_form >.title {
  color: #333;
  font-size: 14px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: 700;
}
.log_reg_form .divide {
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  margin-bottom: 20px;
}
.log_reg_form .form-group {
  margin-bottom: 20px;
}
.log_reg_form .input_div {
  width: 440px;
}
.log_reg_form input {
  width: 440px;
  height: 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
}
.log_reg_form .code_div {
  width: auto;
  padding-right: 0;
}
.log_reg_form .code_div input {
  width: 311px;
}
.log_reg_form .code_img {
  display: block;
  width: 128px;
  height: 36px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}
.log_reg_form .btn-danger {
  height: 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.log_reg_form .forget {
  color: #f00;
  font-size: 14px;
  width: 60px;
  margin-left: 26%;
  display: block;
  cursor: pointer;
  margin-top: -15px;
  height: 20px;
  line-height: 20px;
}
.log_reg_form .submit-line,
.log_reg_form .btn-danger {
  width: 440px;
}
.log_reg_form .submit-line {
  margin-left: 240px;
  margin-top: 40px;
}
.log_reg_form .get_code {
  width: 130px;
  height: 36px;
  border: 1px solid #e6e6e6;
  background: #fff;
  color: #333;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.log_reg_form .country_label {
  margin-right: 15px;
}
.log_reg_form .country_select {
  width: 440px;
}
.log_reg_form .country_div {
  position: relative;
}
.log_reg_form .select_country {
  width: 60px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  display: inline-block;
  position: absolute;
  top: 1px;
  right: -14px;
  border: 1px solid #e6e6e6;
  font-size: 8px;
}
.log_reg_form .policy {
  color: #d93740;
  padding-left: 26%;
}
.log_reg_form .policy a {
  color: #d93740;
}
.log_reg_form .policy input {
  width: auto;
  height: auto;
  vertical-align: middle;
  padding: 0;
  margin: auto;
  position: relative;
  top: -1px;
}
.log_reg_form #countryList {
  display: none;
  width: 380px;
  position: absolute;
  height: 250px;
  top: 36px;
  background: #fff;
  z-index: 100;
  border: 1px solid #e6e6e6;
  overflow-y: scroll;
}
.log_reg_form #countryList .country {
  padding-left: 10px;
  cursor: pointer;
  height: 22px;
  line-height: 22px;
}
.log_reg_form #countryList .country:hover {
  background: #3484f5;
  color: #fff;
}
.code_sending {
  color: #ccc !important;
}
