.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #f0f0f0;
}
#imgshow {
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.divcss5 {
  border: thin solid #e6e6e6;
}
.bg-title {
  color: #000;
  background-color: #ff1c1c;
  width: 60px;
  height: 20px;
  font-size: 20px;
}
.qrCode-list {
  margin-left: 10px;
  margin-right: 10px;
  color: #808080;!important
}

.wrap-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  z-index: 999;
}
.dialog {
  position: relative;
  margin: 15% auto;
  width: 500px;
  background-color: #fff;
}
.dialog .dialog-header {
  height: 20px;
  padding: 10px;
  background-color: #fff;
}
.dialog .dialog-body {
  height: 30px;
  padding: 40px;
}
.dialog .dialog-footer {
  padding: 50px;
  background-color: #fff;
}
.btn {
  padding: 2px;
}
.hide {
  display: none;
}
.ml50 {
  margin-left: 50px;
}
h4 {
  font-size: 14px;
  font-weight: 700;
  text-indent: 20px;
  padding: 0;
  margin: 0;
}
hr {
  margin-bottom: 10px;
}
.control-label {
  width: 372px;
  padding: 0;
  margin: 0;
}
.btn-block {
  width: 484px;
  height: 40px;
  background: #d93740;
  border-radius: 2px;
  color: #fff;
}
.btn-block:hover {
  background: #d9575a;
  border-color: #d9575a;
  color: #fff;
}
.btn-block:active {
  background: #d9575a;
  border-color: #d9575a;
  color: #fff;
}
.panel-heading {
  padding-top: 20px;
  background-color: #fff !important;
  font-weight: 700;
  padding-left: 0;
}
.panel-heading img {
  width: 16px;
  margin-right: 8px;
}
.container {
  width: 1140px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.container .row {
  margin: 0;
}
.container .col-md-10 {
  margin: 0;
  width: 100%;
  padding: 0;
}
.container .panel {
  padding: 0 20px;
}
.panel-body-title {
  padding-top: 21px;
  padding-left: 0;
  padding-bottom: 0;
}
.panel-body-title p {
  margin: 0;
}
.panel-body-forms {
  font-size: 14px;
  padding: 0;
}

.form-group {
  margin-left:0 !important;
  margin-right:0 !important;
}

.help-block {
  font-size:12px;
  color: #CCCCCC;
}
input[type="radio"], input[type="checkbox"] {
  width:16px;
  height:16px;
}
input[type="text"], input[type="tel"]  {
  width:300px !important;
}
.input-group-addon {
  width:100px;
}
#form-group-coin {
  margin-bottom:0;
}
.help-block {
  margin-top:4px;
  margin-bottom:0;
}
#form-group-type {
  margin-top:3px;
}
#form-group-settlement {
  margin-top:3px;
}
#input-message {
  width:400px;
  height:200px;
}
.now_publish {
  margin-left: 288px;
}
#form-group-amount .help-block,
#form-group-payment_window_minutes .help-block,
#form-group-min_amount .help-block,
#form-group-max_amount .help-block,
#form-group-price .help-block,
#form-group-transaction_price_btc .help-block,
#form-group-transaction_price_eth .help-block,
#form-group-transaction_price_usdt .help-block
{
  margin-top:6px;
  margin-bottom:10px;
}
#form-group-amount,
#form-group-payment_window_minutes,
#form-group-min_amount,
#form-group-max_amount,
#form-group-price,
#form-group-transaction_price_btc,
#form-group-transaction_price_eth,
#form-group-transaction_price_usdt
{
  margin-bottom:0;
}
.form-group-publish {
  margin-top:40px;
}
