.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #f0f0f0;
}
#imgshow {
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.divcss5 {
  border: thin solid #e6e6e6;
}
.bg-title {
  color: #000;
  background-color: #ff1c1c;
  width: 60px;
  height: 20px;
  font-size: 20px;
}
.qrCode-list {
  margin-left: 10px;
  margin-right: 10px;
  color: #808080;
!important
}
!important
.wrap-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  z-index: 999;
}
.dialog {
  position: relative;
  margin: 15% auto;
  width: 500px;
  background-color: #fff;
}
.dialog .dialog-header {
  height: 20px;
  padding: 10px;
  background-color: #fff;
}
.dialog .dialog-body {
  height: 30px;
  padding: 40px;
}
.dialog .dialog-footer {
  padding: 50px;
  background-color: #fff;
}
.btn {
  padding: 2px;
}
.hide {
  display: none;
}
.ml50 {
  margin-left: 50px;
}
h4 {
  font-size: 14px;
  font-weight: 700;
  text-indent: 20px;
  padding: 0;
  margin: 0;
}
hr {
  margin-bottom: 10px;
}
.control-label {
  width: 372px;
  padding: 0;
  margin: 0;
}
.btn-block {
  width: 484px;
  height: 40px;
  background: #d93740;
  border-radius: 2px;
  color: #fff;
}
.btn-block:hover {
  background: #d9575a;
  border-color: #d9575a;
  color: #fff;
}
.btn-block:active {
  background: #d9575a;
  border-color: #d9575a;
  color: #fff;
}
.panel-heading {
  background: #fff;
  padding-top: 20px;
  background-color: #fff !important;
  font-weight: 700;
  padding-left: 0;
}
.panel-heading img {
  width: 16px;
  margin-right: 8px;
}
.container {
  width: 1140px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.container .row {
  margin: 0;
}
.container .col-md-10 {
  margin: 0;
  width: 100%;
  padding: 0;
}
.container .panel {
  padding: 0 20px;
}
.panel-body-title {
  padding-top: 21px;
  padding-left: 0;
  padding-bottom: 0;
}
.panel-body-title p {
  margin: 0;
}
.panel-body-forms {
  font-size: 14px;
  padding: 0;
}
