/* overwrite bootstrap page header */
.page-header {
	padding-bottom: 9px;
	margin: 10px 0;
    border: 0;
}

.footer {
	margin-top: 30px;
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.error-global {
	padding: 10px 5px 10px 5px;
	margin: 10px 0 10px 0;
	color: red;
	font-style: italic;
}

.success-global {
	padding: 10px 5px 10px 5px;
	margin: 10px 0 10px 0;
	color: green;
	font-style: italic;
}

.error-control {
	border: 1px solid red;
}

.error-text {
	color: red;
	font-style: italic;
}

.checkbox_vlist {
	list-style-type: none;
	padding-left: 0;
}
.prompt-global{
	color: #777777;
	font-size: 12px;
}
.form-section-head{
    margin-top: 35px;
    margin-bottom: 15px;
}
.bg-grey{
	background-color: #ececec;
}
